

{{#if data}}
<h1>This is your profile page</h1>
  <h2>Email address: {{ data.email }}!</h2>
  <p>welcome onboard!</p>
 
{{else}}
  <p>no longer logged in</p>
{{/if}}

<a href="/">Go to home page</a>
<a href="/private-page">Go to my private page</a>