<h1>This is the main page</h1>
<p>You are welcome to either:</p>
<ul>
    <li><a href="/signup">Sign up to create an account</a></li>
    <li><a href="/login">Login into you account</a></li>
    <li><a href="/">Go back to first page</a></li>
</ul>
<img src="https://m.media-amazon.com/images/I/41wN1fhFL6L.jpg" alt="funny cat">